<MudContainer MaxWidth="MaxWidth.Large">
    <MudCarousel Class="flex-1" ItemsSource="@_source" @bind-SelectedIndex="selectedIndex" 
    Style="height:300px;" 
    ShowArrows="@_arrows" 
    BulletsColor="Color.Warning" 
    ShowBullets="@_bullets" 
    AutoCycle="@_autocycle">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%;background :url(@context);background-size :cover;">
            </div>
        </ItemTemplate>
    </MudCarousel>
</MudContainer>

@code {
    //private MudCarousel<string> _carousel;
    private bool _arrows = true;
    private bool _bullets = true;
    private bool _autocycle = true;
    private IList<string> _source = new List<string>() {
        "https://c1.wallpaperflare.com/path/796/816/45/business-currency-finance-dollar-526ce8ef71ea1c5715f5cdaf93dd6ae8.jpg",
        "https://c1.wallpaperflare.com/path/990/366/341/cryptocurrency-concept-blockchain-bitcoin-money-virtual-da6f7bdeea885c04e1c40ead2dfc31c1.jpg",
        "https://r4.wallpaperflare.com/wallpaper/848/145/285/technology-bitcoin-coin-cryptocurrency-money-hd-wallpaper-11f03624c2af21c816503902d488b4a9.jpg",
        "https://c1.wallpaperflare.com/path/540/557/300/cryptocurrency-gold-bar-concept-asset-digital-asset-money-762d0b6fb28bc9c8a7d1144847ec72cd.jpg",
        "https://c1.wallpaperflare.com/path/449/7/697/business-computer-security-currency-724eaac646cff2f55f84df582ca02ce1.jpg" };
    private int selectedIndex = 0;
}